<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar }}

    <!-- main header -->
    <div class="container-fluid main_header ">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_right align-item-center">
                        <img src="images/about.png" alt="anuj" class="img-fliud" title="Anuj S">
                        </img>
                    </div>
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I am a <span class="text_clr"> Mern Stack Developer </span> and a Freelancer</h1>
                        <a href="/weather"><button>ABOUT ME</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    {{>footer}}
</body>

</html>